/* Head  */
.head {
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 40px;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    z-index: 999;
}
.head .inner-logo img {
    width: 50%;
}
.head .inner-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.head .inner-menu ul li {
    margin-right: 10px;
}
@media (max-width: 991.98px) {
    .head .inner-menu {
        display: none;
    }
}
/* End Head  */

/* Backgroud */
.inner-background {
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-background .inner-wrap {
    text-align: center;
    color: #fff;
}
.inner-background .box-head .inner-title {
    font-weight: 600;
    margin-bottom: 40px;
}
.inner-background .inner-button {
    content: "DISCOVER MORE";
    width: 200px;
    padding: 10px;
    background: #D94B86;
    border-radius: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.inner-background .inner-button a {
    color: #fff;
    font-size: 13px;
    padding: 15px 37px;
}
.inner-background .inner-button:hover {
    background: #7C5DE4;
}

/* End Backgroud */

/* Section One  */
.section-one {
    position: relative;
    margin-top: -200px;
    z-index: 9;
    padding-bottom: 80px;
}
.section-one .inner-list .inner-item {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.section-one .inner-list .inner-item:hover .inner-image {
    background: #ff589e;
}
.section-one .inner-list .inner-image {
    background: #7054CD;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.section-one .inner-list .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-one .inner-list .box-head .inner-title {
    color: #000;
    margin-bottom: 30px;
}
.section-one .inner-list .box-head .inner-desc {
    font-size: 14px;
    margin-bottom: 0;
}
@media (max-width: 991.98px) {
    .section-one {
        margin-top: 0;
    }
}
/* End Section One  */

/* Section Two  */
.section-two {
    padding: 80px 0;
}
.section-two .inner-img {
    margin-bottom: 20px;
} 
.section-two .box-head {
    margin-left: 5%;
}
.section-two .box-head .inner-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
}
.section-two .box-head .inner-desc {
    font-size: 15px;
}
@media (max-width: 991.98px) {
    .section-two .inner-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* End Section Two  */


/* Section Three */
.section-three {
    padding: 80px 0;
}
.section-three .box-head .inner-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
}
.section-three .box-head .inner-desc {
    font-size: 15px;
}
.section-three .inner-img {
    margin-top: 20px;
    text-align: right;
}
@media (max-width: 991.98px) {
    .section-three .inner-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* End Section Three */

/* Sectiom Four  */
.section-four {
    padding: 90px 0;
    background-image: url(../images/work-process-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.section-four .box-head {
    color: #fff;
    text-align: center;
}
.section-four .box-head .inner-desc {
    margin-bottom: 60px;
}
.section-four .inner-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 48px 0px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.section-four .inner-box::before {
    content: '';
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    opacity: .15;
    height: 100%;
    bottom: -10px;
    left: 0px;
    right: -20px;
    margin: auto;
    border-radius: 20px;
}
.section-four .inner-box:hover {
    margin-top: -10px;
}
.section-four .inner-box .inner-image {
    margin-bottom: 20px;
}
.section-four .inner-box .inner-title {
    color: #000;
    margin-bottom: 10px;
}
.section-four .inner-box .inner-desc {
    font-size: 14px;
}
/* End Sectiom Four  */

/* Contact */
.contact {
    background: #F2F2FE;
    padding: 100px 0;
}
.contact .box-head {
    padding: 30px;
    text-align: center;
}
.contact .box-head .inner-title {
    color: #000;
    font-size: 26px;
    margin-bottom: 30px;
}
.contact .box-head .inner-desc {
    font-size: 14px;
}
.contact .inner-content {
    margin-bottom: 20px;
}
.contact .inner-content .title {
    color: #000;
    font-size: 18px;
    margin-bottom: 40px;
}
.contact .inner-content .desc-one {
    margin-bottom: 40px;
}
.contact .inner-form .btn {
    background: #7154CF;
    border-radius: 30px;
    padding: 10px;
}
.contact .inner-form .btn:hover {
    background: #ff589e;
}
.contact .inner-form input, .contact .inner-form textarea {
    border: 1px solid #eee;
    border-radius: 20px;
    margin-bottom: 30px;
}
.contact .inner-form input {
   padding: 20px;
}
.contact .inner-form textarea {
    height: 170px;
    margin-bottom: 30px;
    resize: none;
    padding: 20px;
}
/* End Contact */

/* Footer  */
.footer {
    padding: 35px 0;
    background: #8860EA;
}
.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li {
    padding: 10px;
}
.footer ul a {
    background: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.footer ul a:hover {
    background: #ff589e;
    color: #fff;
}
.footer .footer-profile {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.footer .footer-profile p {
    color: #fff;
    margin: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
}
/* End Footer  */
